@model MvcExtensions.Demo.Areas.AngularJsDemo.Models.DemoModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>@Html.LabelFor(x => x.Name)</td>
        <td>@Html.NgTextBoxFor(x=>x.Name)</td>
        <td>@Html.NgDisplayFor(x => x.Name)</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<div>
   
</div>
