div.showSpinner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
}
div.hideSpinner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
div.tiny,
th.tiny,
td.tiny,
input.tiny,
textarea.tiny,
select.tiny {
  width: 40px !important;
}
div.small,
th.small,
td.small,
input.small,
textarea.small,
select.small {
  width: 80px !important;
}
div.medium,
th.medium,
td.medium,
input.medium,
textarea.medium,
select.medium {
  width: 150px !important;
}
div.large,
th.large,
td.large,
input.large,
textarea.large {
  width: 200px !important;
}
select.large {
  width: 212px;
}
select.medium {
  width: 162px;
}
select.small {
  width: 92px;
}
input.number,
input.date {
  width: 100px !important;
}
.editor-label {
  display: inline-block;
  margin: 0.5em 0 0 0;
  width: 100px;
}
.editor-smalllabel {
  display: inline-block;
  margin: 0.5em 0 0 0;
  width: 100px;
}
.editor-mediumlabel {
  display: inline-block;
  margin: 0.5em 0 0 0;
  width: 110px;
}
.editor-longlabel {
  display: inline-block;
  margin: 0.5em 0 0 0;
  width: 125px;
}
.editor-field {
  display: inline;
  margin: 0.5em 0 0 0;
}
.display-label {
  display: inline-block;
  margin: 0.3em 0 0 0;
  /*width:100px;*/
}
.display-redlabel {
  display: inline-block;
  margin: 0.3em 0 0 0;
  color: #e80c4d;
}
.display-field {
  display: inline;
  margin: 0.3em 0 0 0;
}
.display-redbold-field {
  display: inline;
  margin: 0.3em 0 0 0;
  color: #e80c4d;
  font-weight: bold;
}
.display-red-field {
  display: inline;
  margin: 0.3em 0 0 0;
  color: #e80c4d;
}
.display-bold-field {
  display: inline;
  margin: 0.3em 0 0 0;
  font-weight: bold;
}
div.border,
fieldset.border {
  border: solid;
  border-width: thin;
  margin: 1px;
  padding: 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}
fieldset.small {
  width: 200px;
  height: 100%;
}
fieldset.medium {
  width: 300px;
  height: 100%;
}
fieldset.large {
  width: 400px;
}
fieldset legend.border {
  margin: 1px 5px;
  padding: 1px 5px;
}
table.border {
  border: solid;
  border-width: thin;
  margin: 1px;
  padding: 1px;
}
tr.border {
  border: solid;
  border-width: thick;
  margin: 1px;
  padding: 1px;
}
/*collapsible start*/
.collapsible {
  margin-bottom: 20px;
  background: #EBEBEB;
  border: 1px solid #CCCCCC;
  padding: 5px;
  width: 475px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
  display: block;
  overflow: hidden;
  position: absolute;
  /*float:right;*/
  z-index: 1000;
  right: 0px;
  /*top:0px;*/
  display: table-cell;
}
.collapsible button {
  height: 135px;
  float: right;
  border: 1px solid #999999;
  background: #999999;
  color: #CECECE;
  margin-left: 10px;
}
.collapsible button :hover {
  background: #990000;
  border: 1px solid #990000;
}
.collapsibleHidden {
  /*background-color: pink;*/
  position: absolute;
  top: 110px;
  right: -67px;
  width: 160px;
  height: 16px;
}
.collapsibleDefault {
  /*background-color: orange;*/
  float: right;
  position: absolute;
  top: 97px;
  left: -56px;
  width: 135px;
  height: 16px;
}
.collapsibleContent {
  display: none;
  position: absolute;
}
/* right collapsible */
.verticalCollapsibleRight {
  margin-bottom: 20px;
  background: #EBEBEB;
  border: 1px solid #CCCCCC;
  padding: 5px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  right: -20px;
  width: 15px;
  float: right;
  margin-top: 10px;
  height: 135px;
}
.verticalCollapsibleRight:hover {
  width: 600px;
}
.verticalCollapsibleRight:hover .collapsibleHidden {
  display: block;
  float: right;
}
.verticalCollapsibleRight:hover .collapsibleContent {
  display: block;
  z-index: 9999;
}
.verticalCollapsibleRight:hover .collapsibleDefault {
  display: none;
}
/*collapsible end*/
/* Activity Tab */
.activityTab {
  z-index: 1000;
  position: absolute;
  width: 180px;
  height: 20px;
  background-color: orange;
  cursor: pointer;
  left: -80px;
  /*right: 10px;*/
  top: 350px;
  text-align: center;
  border: 1px black solid;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}
.activityTab:hover {
  background-color: #ffbe47;
}
.verticalText_R {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.activityPanel {
  z-index: 999;
  position: absolute;
  /*width: 300px;*/
  top: 270px;
  left: -600px;
  background-color: #ffdc9d;
  min-height: 180px;
  border: 1px solid black;
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}
.activityNavbar {
  font-size: 12px;
  font-family: verdana;
  line-height: 20px;
  color: black;
  padding-left: 0px;
}
.activityNavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.activityNavbar li {
  background-color: #fec357;
  width: 75px;
  text-align: center;
  vertical-align: middle;
  list-style-type: none;
  float: left;
  border: 1px solid black;
  cursor: pointer;
}
.activityNavbar li:hover {
  color: #fff;
}
.activityNavbar li:first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
.activityNavbar li:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
.activityNavbar li.active {
  background-color: orange;
}
.isComplete {
  text-decoration: line-through;
}
.container div {
  display: inline-block;
}
.accordionControl,
.accordionControlSingle {
  /*.ui-icon { display: none; }*/
}
.accordionControl .ui-accordion-header a,
.accordionControlSingle .ui-accordion-header a {
  padding-left: 0;
}
.accordionControl .ui-accordion-content,
.accordionControlSingle .ui-accordion-content {
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
  padding: 0;
}
.accordionControl th,
.accordionControl td {
  padding-left: 2px;
}
.spacer {
  height: 10px;
}
.horizontalRadioButtons {
  /*display : inline-block !important;*/
  display: -webkit-box;
}
.verticalRadioButtons {
  display: block !important;
}
.redText {
  color: #e80c4d;
}
.warningText {
  color: #e80c4d;
}
.greenText {
  color: #03cb1d;
  font-weight: bold;
}
.boldText {
  font-weight: bold !important;
}
/*.field-validation-error {
    background-image: url('/Images/DeleteButton.png');
    background-repeat: no-repeat;
    color: Transparent;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
}*/
/*http://www.webdesignerwall.com/demo/css-buttons.html*/
/* button 
   ---------------------------------------------- */
.anchorButton,
.button {
  background-color: #d3dce0;
  border: 1px solid #787878;
  cursor: pointer;
  font-size: 1.0em;
  font-weight: 600;
  padding: 2px 5px 2px 5px;
  width: auto;
  border-radius: 0.5em;
  height: inherit;
  text-decoration: none;
  /*display: inline-block;
    zoom: 1; // zoom and *display = ie7 hack for display:inline-block 
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.3);
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
}
.anchorButton :active,
.button :active {
  position: relative;
  top: 1px;
}
.anchorButtonInline {
  background-color: #d3dce0;
  border: 1px solid #787878;
  cursor: pointer;
  width: auto;
  height: 15px;
  font-size: .9em;
  border-radius: 0.4em;
  padding: 1px 5px 0px 5px;
  text-decoration: none;
}
.button input[type=submit],
button {
  height: 30px;
}
.icons {
  position: relative;
  top: -14px;
}
.icon {
  float: right;
  margin-left: 2px;
}
.icon-creditReport {
  background: url('../Images/credit-report-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.hidden {
  display: none;
}
.icon-activity {
  background: url('../Images/activity-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.icon-exposure {
  background: url('../Images/exposure-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.icon-attachment {
  background: url('../Images/attachment-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.icon-creditnote {
  background: url('../Images/creditnote-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.icon-note {
  background: url('../Images/note-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.icon-email {
  background: url('../Images/email-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.icon-phone {
  background: url('../Images/phone-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.icon-PartnerCommentary {
  background: url('../Images/PartnerCommentary-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.icon-Contacts {
  background: url('../Images/Contacts-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.icon-Owner {
  background: url('../Images/Owner-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.icon-condition {
  background: url('../Images/condition-icon.png') center right no-repeat;
  padding: 0 16px 0 0;
  white-space: nowrap;
  cursor: pointer;
}
.document-preview {
  background: url('../Images/document-preview-icon.png') center right no-repeat;
  white-space: nowrap;
  cursor: pointer;
}
/* start pagination */
.pagination {
  background: #d3d3d3 url(images/pag_bg.gif) repeat-x;
  border: 1px solid #b6b6b6;
  margin: 8px 0 0;
  position: relative;
  top: 0;
  left: 0;
  padding: 0 11px;
  /*width: 643px;*/
  width: auto;
  overflow: hidden;
  line-height: 25px;
  color: #444;
  font-size: 12px;
}
.pagination .page_no {
  float: left;
  color: #444;
  font-size: 12px;
  white-space: nowrap;
  display: block;
  margin-right: 20px;
}
.pagination form {
  float: right;
  margin: 0;
  padding: 0;
}
.pagination fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
}
.pagination label {
  float: left;
  display: block;
  padding: 0 5px 0 0;
}
.pagination .pag_inputs {
  float: left;
  padding: 1px 0 0;
}
.pag_list {
  margin: 0;
  padding: 0;
}
.pag_list li {
  float: left;
  list-style: none;
  padding: 0 4px 0 0;
  color: #444;
}
.pag_list a:link,
.pag_list a:visited,
.pag_list a:hover,
.pag_list a:active {
  color: #366fa7;
}
.pag_list span {
  font-weight: bold;
}
.prev,
.next {
  display: block;
  font-weight: bold;
}
.prev {
  background: url(images/prev.gif) no-repeat left center;
  padding: 0 0 0 10px;
  margin: 0 1px 0 0;
}
.next {
  background: url(images/next.gif) no-repeat right center;
  padding: 0 10px 0 0;
  margin: 0 0 0 5px;
}
.input_go {
  display: block;
  line-height: normal;
  float: left;
  background: #fff;
  border: 1px solid #adadad;
  margin: 2px 3px 0 0;
  padding: 1px 4px;
  width: 34px;
}
.input_go input {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  background: transparent;
  border: 0;
  font-size: 12px;
}
.pagination .button {
  float: left;
  margin: 2px  0 0 ;
  display: block;
  width: 18px;
  height: 19px;
  background: url(images/go.gif) no-repeat;
}
.pagination #page-size {
  float: right;
  width: auto;
}
/* end pagination */
.table_wrapper {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}
.table_wrapper_inner {
  border: solid #dbdbdb;
  border-width: 0 0 0 1px;
}
.table_wrapper td,
.table_wrapper th {
  border: solid #dbdbdb;
  border-width: 1px 1px 1px 0;
}
.table_wrapper th {
  font-weight: bold;
  font-size: 13px;
  border-width: 2px 1px 0 0;
}
.table_wrapper td,
.table_wrapper th {
  text-align: left;
  padding: 0 12px;
  line-height: 26px;
  font-size: 16px;
}
.table_wrapper th {
  background: #fff;
}
.table_wrapper td {
  background: #fefefe url(images/td_bg1.gif) repeat-x;
}
.table_wrapper tr.second td {
  background: #f2f2f2 url(images/td_bg2.gif) repeat-x;
}
div.scrollY_100 {
  max-height: 100px;
  overflow: auto;
  overflow-x: hidden;
}
div.scrollY_200 {
  max-height: 200px;
  overflow: auto;
  overflow-x: hidden;
}
div.scrollY_250 {
  max-height: 250px;
  overflow: auto;
  overflow-x: hidden;
}
.buttons {
  padding-top: 10px;
}
.creditNote {
  width: 97%;
  height: 376px;
}
.partnerCommentary {
  width: 98%;
  height: 110px;
}
.layer1 {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=CoreUIStd.css.map */